@model MobileStore.Domain.Entities.ProductType

@{ 
    Layout = null;
}

<h1>Edycja @Model.ProductTypeName</h1>

@using (Html.BeginForm("Edit","AdminProductType"))
{
    @Html.EditorForModel()
    <input type="submit" value="Zapisz" />
    @Html.ActionLink("Anuluj", "Index")
}