@model Invoice
@using MobileStore.Domain.Entities
@{
    ViewBag.Title = "AddSale";
}

<h2>Faktura</h2>
<h4>Nr: @Model.InvoiceNumber</h4>
<hr />
<div>
        @{Html.RenderAction("AvailableCommodities", "Invoice");}
</div>

<div>
    @{ Html.RenderAction("InvoiceSale", "Invoice", Model.InvoiceID);}
</div>