@model MobileStore.WebUI.Models.ProducerListViewModel
@{
    ViewBag.Title = "Producent";
}

<h2>List</h2>

@foreach (var p in Model.Producers)
{
    <div class="item">
        <h3>@p.ProducerName</h3>
    </div>
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }));
</div>
